* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.flex {
    display: flex;
}

.w80 {
    width: 80%;
    margin: auto;
    max-width: 1170px;
}


.menu {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}


/* #section DEBUG*/

.image {
    width: 60%;
    margin: 3rem auto;
    height: 300px;
}

/* #endsection DEBUG*/