* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p1 {
    padding: 1rem;
}

.p04{
    padding: 0.4rem;
}

footer {
    background-color: darkblue;
}

.footer-top{
    align-items: center;
    justify-content: center;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light {
    background-color: #fff;
}

.dark {
    background-color: grey;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-2{
    width: calc(100% / 12 * 2);
}

.img_top {
    width: 50%;
    height: 200px;
    margin: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w80 {
    width: 80%;
    margin: auto;
    max-width: 1170px;
}

.menu {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}


/* #section DEBUG*/

/* card is use to have a content space*/
.card {
    width: 60%;
    padding: 3rem auto;
    height: 300px;
    background-color: #fff;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


/* #endsection DEBUG*/